{% extends 'blog/nav.html' %}
{% block body %}
        <div class="form-inline">
            <label>Branch</label>
            <select class="form-control" aria-label="Default select example" id="branch">
                <option></option>
                {% for branch in branchs %}
                <option value="{{branch.id}}" id="bname" >{{branch.name}}</option>
                {% endfor %}
            </select>
            <label>Semester</label>
            <select class="form-control" aria-label="Default select example" id="sem">
                <option></option>
                {% for sem in sems %}
                <option value="{{sem.id}}" id="bname" >{{sem.name}}</option>
                {% endfor %}
            </select>
            <label>Subject</label>
            <select class="form-control" aria-label="Default select example" id="sname" name="sname">
                
            </select>
            
            <button type="button" class="btn btn-primary form-control" id="ssubmit">Submit</button>
        </div>
    <hr style="border-top:1px solid #000; clear:both;"/>
    <table class="table table-bordered">
        <thead class="alert-warning">
            <tr>
                <th>Id</th>
                <th>student name</th>
                <th>Roll no</th>
                <th>Semester</th>
               
            </tr>
        </thead>
        <tbody>
            
        </tbody>
    </table>
{% endblock %}